* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Inter", serif;
}

body {
   position: relative;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 30px;
   position: sticky;
   top: 0;
   left: 0;

   /* bg */
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(4px);
   -webkit-backdrop-filter: blur(4px);
}

nav img {
   width: 60px;
   object-fit: cover;
   cursor: pointer;
}

nav .menu-list {
   display: flex;
   gap: 30px;
   list-style: none;
   padding: 0 20px;
}

.menu-list a {
   color: initial;
   text-decoration: none;
}

nav .menu-list a li {
   text-transform: capitalize;
   cursor: pointer;
}

nav .menu-list li:hover {
   color: #fadd06;
   transition: 0.5s all ease;
}

.section {
   height: 100vh;
   padding: 90px 15px 0 15px;
}

.section#films {
   background: lightgray;
}

.section#people {
}

.section#planets {
   background: lightgray;
}

.section#species {
}

.section#starships {
   background: lightgray;
}

.section#vehicles {
}

#films h1 {
   text-align: center;
   margin-bottom: 1rem;
}

#films h1 span {
   color: black;
   -webkit-text-stroke: 1px #fadd06;
}

/* Film Wrapper */
.film-wrapper {
   width: 100%;
   height: 90%;
   padding: 20px;
   background: #fff;
   border-radius: 12px;
   display: flex;
   display: flex;
   column-gap: 20px;
}

.film-list {
   border: 0.5px solid lightgray;
   height: 100%;
   padding: 20px;
   flex: 1;
   border-radius: 12px 0 0 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.film-list h3 {
   margin-bottom: 12px;
   color: gray;
}

.film-list ul {
   list-style: none;
}

.film-list ul .li {
   margin-top: 30px;
   cursor: pointer;
}

.film-list ul .li:hover {
   color: #fadd06;
   transition: 0.5s all ease;
}

.film-details {
   flex: 3;
   padding: 20px;
   border-radius: 0 12px 12px 0;
   border: 0.5px solid #fadd06;
   display: none;
}

.intro img {
   width: 60px;
   height: 60px;
}

footer {
   background: lightgray;
}
